{#
/**
 * @file
 * Default theme implementation to display a single page.
 *
 * The doctype, html, head and body tags are not in this template. Instead they
 * can be found in the html.html.twig template in this directory.
 *
 * Available variables:
 *
 * General utility variables:
 * - base_path: The base URL path of the Drupal installation. Will usually be
 *   "/" unless you have installed Drupal in a sub-directory.
 * - is_front: A flag indicating if the current page is the front page.
 * - logged_in: A flag indicating if the user is registered and signed in.
 * - is_admin: A flag indicating if the user has permission to access
 *   administration pages.
 *
 * Site identity:
 * - front_page: The URL of the front page. Use this instead of base_path when
 *   linking to the front page. This includes the language domain or prefix.
 *
 * Page content (in order of occurrence in the default page.html.twig):
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title: The page title, for use in the actual content.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 * - messages: Status and error messages. Should be displayed prominently.
 * - tabs: Tabs linking to any sub-pages beneath the current page (e.g., the
 *   view and edit tabs when displaying a node).
 * - node: Fully loaded node, if there is an automatically-loaded node
 *   associated with the page and the node ID is the second argument in the
 *   page's path (e.g. node/12345 and node/12345/revisions, but not
 *   comment/reply/12345).
 *
 * Regions:
 * - page.header: Items for the header region.
 * - page.navigation: Items for the navigation region.
 * - page.navigation_collapsible: Items for the navigation (collapsible) region.
 * - page.highlighted: Items for the highlighted content region.
 * - page.help: Dynamic help text, mostly for admin pages.
 * - page.content: The main content of the current page.
 * - page.sidebar_first: Items for the first sidebar.
 * - page.sidebar_second: Items for the second sidebar.
 * - page.footer: Items for the footer region.
 *
 * @ingroup templates
 *
 * @see template_preprocess_page()
 * @see html.html.twig
 */
#}
{% set container = theme.settings.fluid_container ? 'container-fluid' : 'container' %}
{# Navbar #}
<div class="header-logo">
    {{ page.branding }}
</div>
<!-- end header-logo -->
<nav class="gtco-nav" role="navigation">
    <div class="header-logo">
        {{ page.branding }}
    </div>
    <div class="container">
        <div class="row">
            {{ page.navigation }}
        </div>
    </div>
</nav>
<section id="gtco-hero" class="gtco-cover" style="background-image: url(/themes/custom/justice/images/img_bg_4.jpg);"  data-section="home"  data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-md-offset-0 text-center">
                {{ page.home_page_banner }}
            </div>
        </div>
    </div>
</section>
{# Sidebar First #}
{% if page.top_bar %}
    {% block top_bar %}
        <section>
            <div class="container">
                <div class="row">
                    <div class="col-md-3 col-md-offset-0"> 
                        {{ page.top_bar }}
                    </div>
                </div>
            </div> 
        </section>
    {% endblock %}
{% endif %}
{# Content #}
{%
  set content_classes = [
    page.sidebar_first and page.sidebar_second ? 'col-md-6',
    page.sidebar_first and page.sidebar_second is empty ? 'col-md-9',
    page.sidebar_second and page.sidebar_first is empty ? 'col-md-9',
    page.sidebar_first is empty and page.sidebar_second is empty ? 'col-md-12',
    'col-md-offset-0'
  ]
%}
<section id="gtco-practice-areas">
    <div class="container">
        <div class="row">
            {# Sidebar First #}
            {% if page.sidebar_first %}
                {% block sidebar_first %}
                    <div class="col-md-3">
                        {{ page.sidebar_first }}
                    </div>
                {% endblock %}
            {% endif %}
            <div {{ content_attributes.addClass(content_classes) }}>
                {{ page.content }}
            </div>
            {# Sidebar Second #}
            {% if page.sidebar_second %}
                {% block sidebar_second %}
                    <div class="col-md-3">
                        {{ page.sidebar_second }}
                    </div>
                {% endblock %}
            {% endif %}
        </div>
    </div>
</section>
<!--contact start-->
<footer id="gtco-footer" role="contentinfo">
    <div class="container">
        <div class="row copyright">
            <div class="col-md-12">
                <p class="pull-left">
                    {{ page.footer }}
                </p>
                <p class="pull-right">
                    {{ page.social_media }}
                </p>
            </div>
        </div>
    </div>
</footer>

