{% extends "block--bare.html.twig" %}
{#
/**
 * @file
 * Default theme implementation for a branding block.
 *
 * Each branding element variable (logo, name, slogan) is only available if
 * enabled in the block configuration.
 *
 * Available variables:
 * - site_logo: Logo for site as defined in Appearance or theme settings.
 * - site_name: Name for site as defined in Site information settings.
 * - site_slogan: Slogan for site as defined in Site information settings.
 *
 * @ingroup templates
 */
#}
{% block content %}
    <div class="col-sm-2 col-xs-12">
        {% if site_logo %}
            <div id="gtco-logo">
                <a href="{{ path('<front>') }}" title="{{ 'Home'|t }}" rel="home">
                    <img src="{{ site_logo }}" alt="{{ 'Home'|t }}" />
                </a>
            </div>
        {% endif %}
        {% if site_name %}
          <!--a class="name navbar-brand" href="{{ path('<front>') }}" title="{{ 'Home'|t }}" rel="home">{{ site_name }}</a-->
        {% endif %}
        {% if site_slogan %}
            <!--p class="navbar-text">{{ site_slogan }}</p-->
        {% endif %}
    </div>
{% endblock %}
