{#
/**
 * @file
 * Default theme implementation to display a menu.
 *
 * Available variables:
 * - menu_name: The machine name of the menu.
 * - items: A nested list of menu items. Each menu item contains:
 *   - attributes: HTML attributes for the menu item.
 *   - below: The menu item child items.
 *   - title: The menu link title.
 *   - url: The menu link url, instance of \Drupal\Core\Url
 *   - localized_options: Menu link localized options.
 *
 * @ingroup templates
 */
#}
{% import _self as menus %}

{#
  We call a macro which calls itself to render the full tree.
  @see http://twig.sensiolabs.org/doc/tags/macro.html
#}
{{ menus.menu_links(items, attributes, 0) }}
{% macro menu_links(items, attributes, menu_level) %}
    
  {% import _self as menus %}
  {% set menu_id = 'menu' %}
  {% if items %}
  <div class="col-xs-10 text-right menu-1 main-nav">    
    {% if menu_level == 0 %}
      <ul{{ attributes.addClass('header-nav__list').setAttribute('id', menu_id) }}>
    {% else %}
      <ul{{ attributes.addClass('dropdown-menu') }}>
    {% endif %}
    {% for item in items %}
      {%
        set item_classes = [
          item.is_expanded? 'expanded',
          item.title == 'Contact' ? 'btn-cta',
          item.is_expanded and menu_level == 0 ? 'dropdown',
          item.in_active_trail ? 'active',
        ]
      %}
      {% if menu_level == 0 and item.is_expanded %}
        <li{{ item.attributes.addClass(item_classes) }}>
        <a href="{{ item.url }}">{{ item.title }}</a>
      {% else %}
        <li{{ item.attributes.addClass(item_classes) }}>
            {% if item.title == "Home" %}
                <a href="#" data-nav-section="home"><span>{{ item.title }}</span></a>
            {% elseif '#' in item.url|render %}
                <a href="#" data-nav-section="{{ item.url }}"><span>{{ item.title }}</span></a>      
            {% else %}
                <a href="{{ item.url }}"><span>{{ item.title }}</span></a> 
            {% endif %}
      {% endif %}
      {% if item.below %}
        {{ menus.menu_links(item.below, attributes.removeClass('nav', 'navbar-nav'), menu_level + 1) }}
      {% endif %}
      </li>
    {% endfor %}
    </ul>
    </div>
  {% endif %}
{% endmacro %}
